* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-size: 2.5rem;
  font-family: fantasy;
}

.statusOk {
  color: orangered;
}

.statusNotOk {
  color: darkviolet;
}

.reached {
  background-color: cornflowerblue;
}

.notReached {
  background-color: greenyellow;
}
