* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1 {
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.content {
  font-size: 2.5rem;
  font-family: fantasy;
}

.dead {
  color: crimson;
  background-color: goldenrod;
}

.alive {
  color: goldenrod;
  background-color: crimson;
}

.box {
  padding: 10px;
  width: 300px;
  margin: 5px 0;
  border: 1px solid #ddd;
}

.box span {
  width: 20px;
  height: 20px;
  border: 1px solid orangered;
  padding: 2px;
  border-radius: 10px;
  color: red;
  margin-left: 20px;
}

.box span:hover {
  cursor: pointer;
  background-color: cornsilk;
  color: black;
}
