* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  position: relative;
}

h1 {
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.content {
  font-size: 2.5rem;
  font-family: fantasy;
}

.alive {
  color: goldenrod;
  background-color: crimson;
}
.dead {
  color: crimson;
  background-color: goldenrod;
}

.box {
  height: 70px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.box span {
  width: 10px;
  height: 10px;
  color: orangered;
  margin-left: 20px;
}

.box span:hover {
  cursor: pointer;
  background-color: goldenrod;
}

.btn {
  font-size: 2.5rem;
  border: 1px solid goldenrod;
  border-radius: 10px;
  display: flex;
}

.content__label {
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  gap: 5px;
}

.content__label__form {
  font-family: fantasy;
  font-size: 1.5rem;
}

.reload {
  font-family: fantasy;
  font-size: 2.5rem;
  position: absolute;
  top: 115%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
